<%= render AppLayoutComponent.new(user: current_user) do |c| %>
  <% c.with_title_content(@user.nickname) %>

  <% if policy(@user).edit? %>
    <% c.with_primary_action do %>
      <%= link_to edit_user_path(@user), title: t("users.actions.edit_profile"), class: "circle-button" do %>
        <%= render HeroiconComponent.new(:pencil) %>
      <% end %>
    <% end %>
  <% end %>

  <div class="flex flex-col gap-y-16">
    <div class="flex flex-col gap-y-8">
      <dl>
        <dt>
          <span class="text-green-500"><%= t("users.rooting_for") %></span>
        </dt>
        <dd>
          <div class="flex flex-col items-center rounded-2xl p-4 border-2 border-stone-500">
            <span class="text-9xl"><%= @user.decorate.display_rooting_for_team_flag %></span>
            <span class="text-2xl"><%= @user.decorate.display_rooting_for_team_name %></span>
          </div>
        </dd>
      </dl>
    </div>

    <% if @user == current_user %>
      <div>
        <%= button_to t("devise.sign_out"), destroy_user_session_path, method: :delete, class: "button" %>
      </div>
    <% end %>
<% end %>
