<p><%= t("devise.mailers.reset_password_password_instructions.greeting", email: @resource.email) %></p>

<p><%= t("devise.mailers.reset_password_password_instructions.reason_for_getting_the_mail") %></p>

<p><%= link_to t("devise.change_my_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.mailers.reset_password_password_instructions.ignore_if_not_requested") %></p>
<p><%= t("devise.mailers.reset_password_password_instructions.nothing_happens_if_no_action_taken") %></p>
